body{background-color:gold; align-content: center;} 

h1{font-family: cursive;
color: olivedrab;
    font-size: 36px;
    text-align: center;} 

button{font-family: cursive;
    background-color: bisque;
    font-size: 20px;
    text-align: center;
    border: 3px solid olivedrab;
width: 130px;
    margin: 15px;
    
}

a{text-decoration-color:maroon;}


p{font-family: cursive;
color: black;
    font-size: 20px;
    text-align: center;} 
img{display: block;
    margin-left: auto; 
margin-right: auto;
border: 5px solid olivedrab;
    width: 400px;
}

